<%-include("./includes/navbars.ejs")%>
<div class="col-12 text-center p-3">
    <center>
        <% for(let post of posts){ %> 
        <div class="card mb-3 col-lg-8 ">
            <img src="http://localhost:3000/uploads/thumbnails/<%=post.thumbnail  %> " class="card-img-top" style="height: 400px;" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=post.title  %> </h5>
              <p class="card-text"><%-truncate(post.body,400)%> </p>
              <p class="card-text"><small class="text-muted">
                <%= formDate(post.createdAt) %> 
              </small></p>
              <a href="/post/<%=post.id  %> " class="btn btn-danger" >بیشتر</a>
            </div>
          </div>
        <% } %> 
        <%-include("./includes/pagination.ejs")%>
      </center>
   
      
      
</div>